input.ng-touched.ng-invalid {
    border-left: 4px solid red;
  }
  
  .error {
    color: red;
  }
  
  .btn-success:hover {
    cursor: pointer;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .card-header,
  .btn {
    font-family: 'Open Sans';
    font-weight: 600;
  }
  
  input,
  textarea {
    font-family: 'Open Sans';
    font-size: 20px;
  }
  
  .form-label {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;
  }
  