<div class="container">
  <div class="row pb-5 pt-5">
    <div class="col-sm-12 col-md-12 col-xs-12 mb-lg-0">
      <div class="card shadow-lg rounded">
        <h4 class="card-header text-center">Reactive Form Validation</h4>
        <div class="card-body">
          <form
            [formGroup]="createReactiveForm"
            (ngSubmit)="onSubmit()"
            class="p-4 border border-2"
          >
            <div class="mb-3">
              <label for="firstName" class="form-label">Name :</label>
              <input
                type="text"
                id="firstName"
                class="form-control"
                formControlName="firstName"
                autocomplete="off"
              />
              <div
                *ngIf="
                  (createReactiveForm.controls['firstName'].invalid &&
                    createReactiveForm.controls['firstName'].dirty) ||
                  createReactiveForm.controls['firstName'].touched
                "
              >
                <div
                  *ngIf="
                    createReactiveForm.controls['firstName'].hasError(
                      'maxlength'
                    )
                  "
                >
                  <p class="error">Maximum of 150 characters</p>
                </div>
                <div
                  *ngIf="
                    createReactiveForm.controls['firstName'].hasError(
                      'required'
                    )
                  "
                >
                  <p class="error">Name is required</p>
                </div>
                <div
                  *ngIf="
                    createReactiveForm.controls['firstName'].hasError(
                      'pattern'
                    )
                  "
                >
                  <p class="error">Name should start with letter or a number</p>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="Description" class="form-label"
                >Description :</label
              >
              <textarea
                class="form-control"
                id="Description"
                id="exampleFormControlTextarea1"
                rows="3"
                autocomplete="off"
                formControlName="Description"
              ></textarea>
              <div
                *ngIf="
                  (createReactiveForm.controls['Description'].invalid &&
                    createReactiveForm.controls['Description'].dirty) ||
                  createReactiveForm.controls['Description'].touched
                "
              >
                <div
                  *ngIf="
                    createReactiveForm.controls['Description'].hasError(
                      'maxlength'
                    )
                  "
                >
                  <p class="error">Maximum of 500 characters</p>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="Team" class="form-label">Team :</label>
              <input
                type="text"
                id="Team"
                class="form-control"
                formControlName="Team"
                autocomplete="off"
              />
              <div
                *ngIf="
                  (createReactiveForm.controls['Team'].invalid &&
                    createReactiveForm.controls['Team'].dirty) ||
                  createReactiveForm.controls['Team'].touched
                "
              >
                <div
                  *ngIf="
                    createReactiveForm.controls['Team'].hasError(
                      'maxlength'
                    )
                  "
                >
                  <p class="error">Maximum of 150 characters</p>
                </div>
                <div
                  *ngIf="
                    createReactiveForm.controls['Team'].hasError(
                      'required'
                    )
                  "
                >
                  <p class="error">Team is required</p>
                </div>
                <div
                  *ngIf="
                    createReactiveForm.controls['Team'].hasError(
                      'pattern'
                    )
                  "
                >
                  <p class="error">Team should start with letter or a number</p>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="ProductOwner" class="form-label"
                >Product owner :
              </label>
              <input
                type="text"
                id="ProductOwner"
                class="form-control"
                formControlName="ProductOwner"
                autocomplete="off"
              />
              <div
                *ngIf="
                  (createReactiveForm.controls['ProductOwner'].invalid &&
                    createReactiveForm.controls['ProductOwner'].dirty) ||
                  createReactiveForm.controls['ProductOwner'].touched
                "
              >
                <div
                  *ngIf="
                    createReactiveForm.controls['ProductOwner'].hasError(
                      'maxlength'
                    )
                  "
                >
                  <p class="error">Maximum of 150 characters</p>
                </div>
                <div
                  *ngIf="
                    createReactiveForm.controls['ProductOwner'].hasError(
                      'required'
                    )
                  "
                >
                  <p class="error">Product owner is required</p>
                </div>
                <div
                  *ngIf="
                    createReactiveForm.controls['ProductOwner'].hasError(
                      'pattern'
                    )
                  "
                >
                  <p class="error">
                    Product owner should start with letter or a number
                  </p>
                </div>
              </div>
            </div>

            <div class="d-grid gap-2 col-sm-6 col-xs-6 mx-auto p-5">
              <button
                [disabled]="createReactiveForm.invalid"
                class="btn btn-success"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Create Feature"
                (click)="onSubmit()"
                type="button"
              >
                Create Form
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
